* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  margin: auto;
}

html {
  scroll-behavior: smooth;
  /* cuộn chuột mượt */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.clear {
  clear: both;
}

/* *********scrollbar thay doi cuon chuot******* */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 12px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 192, 172);
}

/* *********HEADER********** */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}
.logo img {
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
}

.nav-item > a {
  color: #4a494f;
  font-size: 20px;
}
.nav-item > a:hover {
  color: #000000;
}
/* nav animation */
.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  border-radius: 2px;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000000;
  width: 0;
  scale: 50%;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}
/* scale */
div > nav > div > img {
  width: 51px;
  height: 70px;
  margin-right: 20px;
}

div > ul > li {
  transition: 0.5s;
}

div > ul > li:hover {
  scale: 110%;
}

ul > li {
  padding-left: 20px;
  padding-right: 20px;
}

nav > div > a {
  transition: 0.5s;
}

nav > div > a:hover {
  scale: 110%;
}


/* *************HẾT HEADER**************** */



/* ************************************************ */
/* NOI DUNG TRANG */
/* ************************************************ */

.table-responsive > h1 {
  text-align: center;
  color: #EC5653;
  
}

thead {
  background-color: #EC5653;
}

table,td,th,tr,thead,tbody {
  text-align: center;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;

}
table > thead > tr > th {
  color: #fff;
}
td {
  width: calc(100%/9);
}
 
.subject:hover {
  background-color: #EC5653;
  color: #fff;
  font-weight: bold;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0.1s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}


/* cuon chuot */
.scroller {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 5px;
}

.scroller marquee {
  text-align: center;
  color: #7375c1;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.btn-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 50px;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n + 3),
.btn-group> :not(.btn-check)+.btn {
  border-radius: 8px;
}

@media (max-width: 414px) {
  .btn-group {
    margin: 0 10px;
  }
}